@model TurismoF.Modelos.Ruta

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Ruta</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descripcion" class="control-label"></label>
                <input asp-for="Descripcion" class="form-control" />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="colorRuta" class="control-label"></label>
                <input asp-for="colorRuta" class="form-control" />
                <span asp-validation-for="colorRuta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LatInicio" class="control-label"></label>
                <input asp-for="LatInicio" class="form-control" type="number" step="any" min="-90" max="90" placeholder="Ej: 0.220453" />
                <span asp-validation-for="LatInicio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LonInicio" class="control-label"></label>
                <input asp-for="LonInicio" class="form-control" type="number" step="any" min="-180" max="180" placeholder="Ej: -78.269764" />
                <span asp-validation-for="LonInicio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LatFin" class="control-label"></label>
                <input asp-for="LatFin" class="form-control" type="number" step="any" min="-90" max="90" placeholder="Ej: 0.220453" />
                <span asp-validation-for="LatFin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LonFin" class="control-label"></label>
                <input asp-for="LonFin" class="form-control" type="number" step="any" min="-180" max="180" placeholder="Ej: -78.269764" />
                <span asp-validation-for="LonFin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
